$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary: #ed7d31;
$secondary: #fec000;
$accent: #fed966;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$titleFontSize: 20px;
$textFontSize: 18px;

.add-button {
  background-image: linear-gradient(to bottom right, $primary, $secondary);
  margin: 5px 0 5px 0;
}
