<?xml version='1.0' encoding='utf-8'?>
<widget id="app.notes.id" version="0.7.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Notes</name>
    <description>App for Ideas and Notes</description>
    <author>Phantomkeks Development</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="res/screen/splash-land-320x200.png" />
        <splash density="land-ldpi" src="res/screen/splash-land-480x320.png" />
        <splash density="land-mdpi" src="res/screen/splash-land-800x480.png" />
        <splash density="land-xhdpi" src="res/screen/splash-land-1280x720.png" />
        <splash density="port-hdpi" src="res/screen/splash-port-200x320.png" />
        <splash density="port-ldpi" src="res/screen/splash-port-320x480.png" />
        <splash density="port-mdpi" src="res/screen/splash-port-480x800.png" />
        <splash density="port-xhdpi" src="res/screen/splash-port-720x1280.png" />
    </platform>
    <icon src="res/icon-512x512-filled.png" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.4" />
    <allow-navigation href="about:*" />
</widget>
